body {
    color: #5c5c5c;
}

.container {
    margin: 100px;
}

.rumahSakit {
    display: flex;
    flex-direction: row;
}

.control {
    width: auto;
    margin-right: 50px;
}

.content {
    border: 2px solid #0D98BA;
    width: auto;
    flex-grow: 1;

}

.content li {
    margin: 20px 0px;
}

.delete {
    background-color: #c41313;
    color: #FFF;
    padding: 10px 5px;
    margin: 10px 0px;
}

h2 {
    color: #0D98BA;
    margin-bottom: 10px;
}

hr {
    border-width: 2px;
    margin: 40px 0px;
}
