{% extends 'template.html' %}

{% block title %}
Home
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock head %}

{% block styling %}


{% endblock styling %}

{% block body %}
    
    <h2 style="text-align: center;">Covid-19</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-4" style="margin-top: 2rem;">
            <div style="width: 475;">
            <p>COVID-19 adalah penyakit yang disebabkan oleh virus (SARS-CoV-2)</p>
            <p>COVID-19 dapat menyebabkan gangguan sistem pernapasan, mulai dari gejala yang 
            ringan seperti flu, hingga infeksi paru-paru, seperti pneumonia.</p>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static 'home/Covid-19.jpg' %}" alt="Covid-19" style="height: 400px;width: 600px" srcset="">
        </div>
    </div>
    {% if data %}
    {% for x in data %}
    <div class="data">
        <h2 style="text-align: center;">Jumlah Kasus Harian Covid</h2>
        <div class="row justify-content-center align-items-center" id="data">
            <div class="col-2" style="margin-top: 2rem;margin-left: 5rem;">
                <h3>ODP</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>{{ x.data_ODP }}</h3> <!-- Data ODP -->
            </div>
            <div class="col-2" style="margin-top: 2rem;margin-left: 5rem;">
                <h3>PDP</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>{{ x.data_PDP }}</h3> <!-- Data PDP -->
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-2" style="margin-top: 2rem;margin-left:5rem;">
                <h3>Sembuh</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>{{ x.data_sembuh }}</h3> <!-- Data sembuh -->
            </div>
            <div class="col-2" style="margin-top: 2rem;margin-left:5rem;">
                <h3>Kematian</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>{{ x.data_kematian }}</h3> <!-- Data kematian -->
            </div>
        </div>
            <div class="row justify-content-center align-items-center">
                <a href="{% url 'home:indexubah' %}"><button type="button" class="btn btn-primary" style="width: 200px;">Update Data</button></a>
        </div>
        </div>
    {% endfor %}
    {% else %}
    <div class="data">
    <h2 style="text-align: center;">Jumlah Kasus Harian Covid</h2>
    <div class="row justify-content-center align-items-center" id="data">
        <div class="col-2" style="margin-top: 2rem;margin-left:5rem;">
            <h3>ODP</h3>
        </div>
        <div class="col-2" style="margin-top: 2rem;">
            <h3>3000</h3> <!-- Data ODP -->
        </div>
        <div class="col-2" style="margin-top: 2rem;margin-left: 5rem;">
            <h3>PDP</h3>
        </div>
        <div class="col-2" style="margin-top: 2rem;">
            <h3>2000</h3> <!-- Data PDP -->
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-2" style="margin-top: 2rem;margin-left:5rem;">
            <h3>Sembuh</h3>
        </div>
        <div class="col-2" style="margin-top: 2rem;">
            <h3>1000</h3> <!-- Data sembuh -->
        </div>
        <div class="col-2" style="margin-top: 2rem;margin-left: 5rem;">
            <h3>Kematian</h3>
        </div>
        <div class="col-2" style="margin-top: 2rem;">
            <h3>500</h3> <!-- Data kematian -->
        </div>
    </div>
        <div class="row justify-content-center align-items-center">
            <a href="{% url 'home:indexubah' %}"><button type="button" class="btn btn-success">Update data</button></a>
    </div>
    </div>
    {% endif %}

    

    <h2 style="text-align: center;">Masa Inkubasi Covid</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <div style="width: 475;">
            <p>Seseorang yang terinfeksi virus, akan menunjukkan beberapa 
            gejala di bawah dan umumnya masa inkubasi COVID-19 diperkirakan 
            berkisar dari 1 hingga 14 hari, umumnya sekitar 5 hari</p>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static 'home/sytomps.jpg' %}" alt="Covid-19 Symptomps" style="height: 500px;width: 350px;margin-left: 5rem;" srcset="">
        </div>
    </div>
    
    
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock body %}