{% extends 'template.html' %}

{% block title %}
Home ubah Data
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock head %}

{% block styling %}
{% endblock styling %}

{% block body %}
 
    <div class="data">
        <form action="" method="Post">
            {% csrf_token %}
        
        <h2 style="text-align: center;">Jumlah Kasus Harian Covid</h2>
        <div class="row justify-content-center align-items-center" id="data">
            <div class="col-2" style="margin-top: 2rem;">
                <h3>ODP</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                {{form.data_ODP}} <!-- form ODP -->
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>PDP</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                {{form.data_PDP}} <!-- form PDP -->
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-2" style="margin-top: 2rem;">
                <h3>Sembuh</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                {{form.data_sembuh}} <!-- form sembuh -->
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>Kematian</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                {{form.data_kematian}} <!-- form kematian -->
            </div>
        </div>
            <div class="row justify-content-center align-items-center">
                <input class="btn btn-success" type="submit" value="Update Data" style="margin: 2px;width:200px">
        </form>
        </div>
    </div>
    


    
    
    
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock body %}