{% extends 'template.html' %}

{% block title %}
Add
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'faq/style.css' %}">

{% endblock head %}

{% block body %}
    <div>
        <div class="row blank"></div>
        <div class="row justify-content-center">
            <h1 style="text-align: center;">Add Content</h1>
        </div>
    
        <div class="row justify-content-center">
            <div class="table-responsive-lg">
                <form action="" method="POST" enctype="multipart/form-data">
                <table class="table form" style="margin-right: 7vw;">
                    <tbody class="form">
                        {{ form.as_table }}
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                {% csrf_token %}
                                <input class="btn btn-info" type="submit" value="Add Content" style="padding-right: 50px; padding-left: 50px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
        
        <div class="row blank"></div>
    
    </div>
{% endblock body %}