{% extends 'template.html' %}

{% block title %}
FAQ
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'faq/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% endblock head %}

{% block styling %}
{% endblock styling %}

{% block body %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin: 10vh 10vw 10vh 10vw;">
    <div class="carousel-inner">
      {% for i in item %}
      {% if forloop.first %}
      <div class="carousel-item active">
        <div class="d-flex flex-row">
          <div class="p-2">
            <button class="btn btn-success" type="button" onclick="window.location.href='{% url 'faq:Add' %}'">Add</button>
          </div>
          <div class="p-2">
            <button  class="btn btn-success" type="button" onclick="window.location.href='{% url 'faq:Edit' i.id %}'">Edit</button>
          </div>
          <div class="p-2">
            <form action="{% url 'faq:Delete' i.id %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-danger" type = "submit" value="Delete">
            </form>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center min-vh-30">
            <h2>{{i.judul}}</h2>
          </div>
          <div class="d-flex align-items-center justify-content-center" style="min-height: 50vh;">
          <p>{{i.isi}} {{ field.contents|linebreaksbr }}</p>
        </div>
      </div>
      {% else %}
      <div class="carousel-item">
        <div class="d-flex flex-row">
          <div class="p-2">
            <button class="btn btn-success" type="button" onclick="window.location.href='{% url 'faq:Add' %}'">Add</button>
          </div>
          <div class="p-2">
            <button  class="btn btn-success" type="button" onclick="window.location.href='{% url 'faq:Edit' i.id %}'">Edit</button>
          </div>
          <div class="p-2">
            <form action="{% url 'faq:Delete' i.id %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-danger" type = "submit" value="Delete">
            </form>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center min-vh-30">
          <h2>{{i.judul}}</h2>
        </div>
        <div class="d-flex align-items-center justify-content-center" style="min-height: 50vh;">
        <p>{{i.isi}} {{ field.contents|linebreaksbr }}</p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
  </div>
{% endblock body %}
