{% extends 'template.html' %}

{% block title %}
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'penanganan/style.css' %}">


{% endblock head %}

{% block styling %}
{% endblock styling %}

{% block body %}
<div class="container">
    <h2>Apa saja gejala yang timbul jika kita mengidap virus Covid-19 ?</h2>
        <p>Gejala yang timbulkan biasanya ringan. Beberapa orang yang terinfeksi hanya memiliki gejala ringan yang timbul atau tidak sama sekali.</p>
        <ul>
            <li>Indra perasa atau bau kurang sensitif</li>
            <li>Hidung tersumbat</li>
            <li>Sakit tenggorokan</li>
            <li>Sakit kepala</li>
            <li>Nyeri otot atau sendi</li>
            <li>Mual atau muntah</li>
            <li>Diare</li>
            <li>Menggigil atau pusing</li>
        </ul>
        <hr>
        
    <h2>Jika saya mengalami gejala diatas, apa yang harus dilakukan ?</h2>
        <p>Jika anda merasakan beberapa gejala diatas, hal pertama yang harus dilakukan adalah tetap tenang dan jaga kebersihan. Setelah itu lakukan beberapa opsi sebagai berikut:</p>
        <ul>
            <li>Isolasi Mandiri di rumah selama 2 minggu</li>
            <li>Pada saat isolasi, jangan keluar rumah seperti ke kantor, atau ke tempat umum lainnya</li>
            <li>Memisahkan diri dari anggota keluarga yang lain untuk sementara</li>
            <li>Memonitor diri selama 2 minggu. Jika gejala sudah membaik dalam kurun waktu tersebut, tetap jaga kebersihan dan menerapkan protokol kesehatan jika perlu pergi keluar rumah</li>
        </ul>
        <hr>
        
    <h2>Rumah Sakit Rujukan Covid-19 berdasarkan Provinsi</h2>
    <div class='rumahSakit'>
        <div class = 'control'>
            <form action = '' method="POST" class="form-group">
                {% csrf_token %}
                {{ form }}<br>
                <button type='submit' name='check' class="btn btn-success">Check</button>
            </form>
            <a href="{% url 'penanganan:add' %}" class="btn btn-success">Tambah RS</a>
        </div>
        
        <div class="content">
            <ul>
                {% for item in list_rumah_sakit %}
                <li>
                    <b style="color: #0D98BA">{{ item.nama }}</b><br>
                    telp: {{ item.hp }}<br>
                    alamat: {{ item.alamat }}<br>
                    <a href="{% url 'penanganan:delete' id=item.id %}" class="btn btn-danger">Hapus RS</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
        
</div>

{% endblock body %}