{% extends 'form.html' %}

{% block title %}
Hoaxbuster - Add Info
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'hoaxbuster/style.css' %}">

{% endblock head %}

{% block styling %}
#id_hoax, #id_fakta {
    width: 350px;
    height: 100px;
}
{% endblock styling %}

{% block body %}

<div class="container">
    <div class="row blank"></div>
    <div class="row justify-content-center">
        <h1 class="title">Hoax Buster</h1>
    </div>

    <div class="row justify-content-center">
        <div class="table-responsive-lg">
            <form action="" method="POST" enctype="multipart/form-data">
            <table class="table form">
                <tbody>
                    {{ form.as_table }}
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            {% csrf_token %}
                            <input class="btn btn-info" type="submit" value="Add Info" style="padding-right: 50px; padding-left: 50px;">
                        </td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>

</div>

{% endblock body %}