{% extends 'template.html' %}

{% block title %}
Hoaxbuster
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'hoaxbuster/style.css' %}">

{% endblock head %}

{% block styling %}
{% endblock styling %}

{% block body %}

<div class="container">
    <div class="row blank"></div>
    <div class="row justify-content-center">
        <h1 class="title">Hoax Buster</h1>
    </div>

    {% if infos %}

    <div class="row justify-content-center">
        <table class="table table-hover info" style="width: 80%;">
            <thead>
                <tr>
                    <th scope="col" style="width: 150px;"></th>
                    <th scope="col" style="text-align: center;">Hoax</th>
                    <th scope="col" style="text-align: center;">Fakta</th>
                    <th scope="col" style="width: 150px;"></th>
                </tr>
            </thead>
            <tbody>
    
            {% for info in infos %}
    
                <tr>
                    <th scope="row">
                        <img src="{{ info.image.url }}" style="width: 150px; height: 150px; border-radius: 50%;">
                    </th>
                    <td style="text-align: center;">{{ info.hoax }}</td>
                    <td style="text-align: center;">{{ info.fakta }}</td>
                    <td>
                        <form action="/hoaxbuster/updateinfo/{{ info.id }}" method="GET" style="display: inline;">
                            {% csrf_token %}
                            <input class="btn btn-success" type="submit" value="Update" style="width: 100%; margin: 2px;">
                        </form>
                        <br>
                        <form action="/hoaxbuster/deleteinfo/{{ info.id }}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="Delete" style="width: 100%; margin: 2px;">
                        </form>
                    </td>
                </tr>
    
            {% endfor %}
    
            </tbody>
        </table>
    </div>

    {% endif %}
    
    <div class="row justify-content-center">
        <a class="btn btn-info" style="padding-left: 50px; padding-right: 50px;" href= "{% url 'hoaxbuster:addinfo' %}">Add Info</a>
    </div>
    <div class="row blank"></div>

</div>

{% endblock body %}