<!DOCTYPE html>
<html>

{% load static %}

    <head>
        <title>{% block title %}{% endblock title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styling/style.css' %}">

        {% block head %}
        {% endblock head %}
        <style>
            {% block styling %}
            {% endblock styling %}
        </style>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info" style="padding: 0;">
            <a class="navbar-brand my-title">A11</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item my-nav">
                        <a class="nav-link" href="{% url 'home:index' %}">Home</a>
                    </li>
                    <li class="nav-item my-nav">
                        <a class="nav-link" href="{% url 'faq:index' %}">FAQ</a>
                    </li>
                    <li class="nav-item my-nav">
                        <a class="nav-link" href="{% url 'hoaxbuster:index' %}">Hoaxbuster</a>
                    </li>
                    <li class="nav-item my-nav">
                        <a class="nav-link" href="{% url 'penanganan:index' %}">Penanganan</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block body %}
        {% endblock body %}

        <footer class="page-footer font-small bg-info" style="position: fixed; bottom: 0; width: 100%;">
            <div class="footer-text text-center py-3">
                Made by Kelompok A11
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>