<!DOCTYPE html>
<html>

{% load static %}

    <head>
        <title>{% block title %}{% endblock title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styling/style.css' %}">

        {% block head %}
        {% endblock head %}
        <style>
            {% block styling %}
            {% endblock styling %}
        </style>
    </head>
    <body>
        <div class="container-fluid px-0">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-info" role="listbox">
                    <div class="carousel-item active">
                        <a href="{% url 'home:index' %}">
                            <div class="d-flex align-items-center justify-content-center min-vh-100">
                                <img src="/static/img/home.png" class="slider-pic">
                                <div class="slider-info">
                                    <h1 class="slider-title">Home Page</h1>
                                    <h4 class="slider-text">Lihat informasi terkini tentang kasus COVID-19</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'faq:index' %}">
                            <div class="d-flex align-items-center justify-content-center min-vh-100">
                                <div class="slider-info" style="text-align: right;">
                                    <h1 class="slider-title">Frequently Asked Question</h1>
                                    <h4 class="slider-text">Pertanyaan yang sering muncul seputar COVID-19</h4>
                                </div>
                                <img src="/static/img/faq.png" class="slider-pic">
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'hoaxbuster:index' %}">
                            <div class="d-flex align-items-center justify-content-center min-vh-100">
                                <img src="/static/img/hoaxbuster.png" class="slider-pic">
                                <div class="slider-info">
                                    <h1 class="slider-title">Hoax Buster</h1>
                                    <h4 class="slider-text">Ketahui kebenaran dari hoax yang umum beredar di masyarakat</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'penanganan:index' %}">
                            <div class="d-flex align-items-center justify-content-center min-vh-100">
                                <div class="slider-info" style="text-align: right;">
                                    <h1 class="slider-title">Penanganan</h1>
                                    <h4 class="slider-text">Informasi penanganan COVID-19 berdasarkan situasi dan kondisi</h4>
                                </div>
                                <img src="/static/img/penanganan.png" class="slider-pic">
                            </div>
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        {% block body %}
        {% endblock body %}

        <footer class="page-footer font-small bg-info">
            <div class="footer-text text-center py-3">
                Made by Kelompok A11
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>