p{
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 65px;
    color: #0D98BA;
}

h2{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 98px;
    text-align: center;
    color: #0D98BA;
}

h3{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 65px;
    color: #0D98BA;
}
.data{
    height: 425px;
    background: #C4C4C4;

}
.btn{
    margin-top: 1rem;
    width: 100px;
    height: 40px;
}
   
